{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Birthday</title>
    <link rel="stylesheet" href="{% static 'birthday/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <div class="logo" onclick="window.location.href='/birthday'"> 
        <img src="{% static 'birthday/logo.png' %}" alt="Birthday Reminder Logo" width="160" height="auto">
    </div>
    <div class="addButton inside fontF" onclick="window.location.href='addBdayHtml'"> 
        <img src="{% static 'birthday/add_icon.png' %}" alt="Birthday Reminder Logo" width="24" height="auto">
        Add Birthday 
    </div>
    <div class="secondButton inside fontF" onclick="window.location.href='upComing'">
        <img src="{% static 'birthday/view_icon.png' %}" alt="Birthday Reminder Logo" width="24" height="auto">
        Upcoming Birthdays 
    </div>
    <h3 class="addBirthday addPosition fontF"> Add Birthday </h3>
    <form action="editBday" method="get" id="editBday">

        <input type="hidden" id="idBday" name="id">
        <div class="nameField addPosition">
            <input type="text" id="nameBday" name="nameBday">
        </div>
        <div class="dateField addPosition">
            <input type="text" id="dateBday" name="dateBday">
        </div>
        <button class="buttonToAdd" type="submit" id="editBdayButton">Edit</button>
    </form>

<script>

    const searchParams = new URLSearchParams(window.location.search);
    var idBdayInput= document.getElementById('idBday');
    idBdayInput.value = searchParams.get('id')
    var nameBdayInput = document.getElementById('nameBday');
    nameBdayInput.value = searchParams.get('nameBday');
    var dataBdayInput = document.getElementById('dateBday');
    dataBdayInput.value = searchParams.get('dateBday');
    var editForm = document.getElementById('editBday');
    var editButton = document.getElementById('editBdayButton');      
        editForm.action = 'editBday';

</script>

</body>
</html>